<h1>Love Letter</h1>

<form class="playGame" action="/game" method="post">
  <input placeholder="Enter your name" type="text" name="name" /><br><br>
  <input type="submit" name="commit" value="Play Game" />
</form>
